@model IEnumerable<MvcApplication1.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYearSection.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (ViewBag.Name == null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYear.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYearSection.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }) |
                    @Html.ActionLink("Courses", "Get_Student_for_Courses", new { id = item.StudentID }) |
                    @Html.ActionLink("Grades", "Get_student_for_Grades", new { id = item.StudentID })



               
                 </td>
            </tr>
        }

        else if (ViewBag.Name != item.AcademicYear.Name)
        {
            continue;
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraduationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYear.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYearSection.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }) |
                    @Html.ActionLink("Courses", "Get_courses_From_Student", new { id = item.StudentID }) |
                    @Html.ActionLink("Grades", "Get_Grades_From_Student", new { id = item.StudentID }) |

                </td>
            </tr>
        }

    }

</table>
