@model MvcApplication1.StudentGrade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StudentGrade</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
